[user]
	name = leosun
	email = leosunsl@outlook.com
[credential "helperselector"]
	selected = manager
[http]
	sslVerify = false
{{ if ne .chezmoi.os "windows" }}
	proxy = http://127.0.0.1:7890
{{ end }}
[credential "https://10.84.130.212:8899"]
	provider = gitlab
[credential "http://10.84.4.81:11000"]
	provider = gitlab
[fetch]
	prune = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[safe]
	directory = D:/Code/
	directory = D:/Code/Victa
	directory = D:/Code/accfw
	directory = D:/Code/obsidian_playground
	directory = D:/Code/Boracay
	directory = D:/Code/accfw/contrib/vendor/st/STM32CubeWB
	directory = D:/Code/accfw/.compiler
	directory = D:/Code/utils-bucket
[core]
	autocrlf = false
{{ if eq .chezmoi.os "windows" }}
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
{{ end }}
	symlinks = true
	pager = delta
[diff]
	external = difft
	tool = nvimdiff
[difftool "nvimdiff"]
	cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[rebase]
	updateRefs = true
[push]
	autoSetupRemote = true
[maintenance]
	auto = true
	strategy = incremental
[branch]
	sort = -committerdate
[column]
	ui = auto
[tag]
	sort = -version:refname
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	side-by-side = true
[credential "http://10.84.4.91:8000"]
	provider = generic
[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential
[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential
