{
  "lastChangelogVersion": "1.1.0",
  "theme": "dark",
  "packages": [
    "npm:pi-web-access",
    "https://github.com/cathrynlavery/diagram-design",
    "npm:pi-subagents",
    "npm:pi-observational-memory",
    "git:github.com/MasuRii/pi-rtk-optimizer",
    "npm:@agnishc/edb-context-viewer",
    "npm:@juicesharp/rpiv-ask-user-question",
    "npm:pi-tool-display",
    "npm:pi-zvec-grep"
  ],
  "hideThinkingBlock": true,
  "observational-memory": {
    "model": {
      "provider": "zai-coding-cn",
      "id": "glm-5.3-flash",
      "thinking": "low"
    },
    "compactAfterTokensMode": "ratio",
    "compactAfterTokensRatio": 0.25
  },
  "defaultTools": ["+codemode"],
  "codemode": {
    "mode": "only"
  },
  "defaultProvider": "zai-coding-cn",
  "defaultModel": "glm-5.3-flash",
  "extensions": [
    "/home/leo/.hindsight/coding-agents/dist/pi.js"
  ]
}