add_newline = false
{{ if eq .chezmoi.os "windows" }}
format="$all\u001b7${fill}$time($style)\u001b8"
{{ end }}
{{ if eq .chezmoi.os "linux" }}
right_format = """$time"""
{{ end }}

[character]
success_symbol = "[❯](bold green)"
error_symbol = "[❌](bold red)"
vicmd_symbol = "[❮](bold blue)"

[time]
time_format = "%T"
style = "bold blue"
disabled = false

[fill]
symbol = " "

[git_status]
format = "$all_status$ahead_behind"

up_to_date = "[✓](bold green) "
conflicted = "⚔️ "
ahead      = "↑${count} "
diverged   = "↑${ahead_count}↓${behind_count} "
behind     = "↓${count} "
stashed    = "[⚑$count](bold blue) "
staged     = "[✚$count](green) "
modified   = "📝×${count} "
renamed    = "[»$count](green) "
deleted    = "🗑️×${count} "
untracked  = "[?$count](cyan) "
style      = "bright-white"

[git_commit]
tag_disabled = false
commit_hash_length = 7
tag_symbol = "🔖 "

[hostname]
disabled = true
[username]
disabled = true
